# OCHA Somalia cash programme cleaning and pcoding script

## Objectif
Clean and add region and district pcodes to the monthly somalia cash programme dataset file for datavisualization.

### Loading modules

In [9]:
import pandas as pd

### Loading data from excel

In [28]:
df = pd.read_excel('data/som-cash.xlsx', encoding='utf8')

### Cleaning

#### Selecting important columns

In [29]:
df.dtypes

Cluster                                          object
Organization                                     object
Implementing partner                             object
Programme Name                                   object
Activity description                             object
Donor                                            object
Modality                                         object
Conditionality                                   object
Restriction                                      object
Transfer value                                   object
Frequency                                        object
Delivery mechanism                               object
Region                                           object
District                                         object
Specific Location                                object
RuralUrban                                       object
Status (Completed, Ongoing, planned)             object
Duration (one month, 2 months, etc..)            object
Start date/estimated start date(mmyy)    datetime64[ns]
End date/estimated end date  (mmyy)      datetime64[ns]
Y_COORD                                         float64
X_COORD                                         float64
April Individuals                                object
Households                                      float64
Women                                           float64
Men                                             float64
Girls                                           float64
Boys                                            float64
Additional Comments                              object
Total transferred Value (US$)                   float64
dtype: object

In [81]:
df.head()

,Cluster,Organization,Implementing partner,Programme Name,Activity description,Donor,Modality,Conditionality,Restriction,Transfer value,...,Y_COORD,X_COORD,April Individuals,Households,Women,Men,Girls,Boys,Additional Comments,Total transferred Value (US$)
0,Protection,QATAR CHARITY,NaN,FS & Livelihood,Unconditional cash transfers,Qatar Charity,cash,Unconditional,Unrestricted,37 Individual based mainly orphan children and...,...,NaN,NaN,420,NaN,NaN,NaN,NaN,NaN,NaN,23310.0
1,Food security,DRC,NaN,FS & Livelihood,CFW Rehabilitation,Office of U.S Foreign Disaster Assistance,cash,Cash for Work,Unrestricted,NaN,...,NaN,NaN,2100,350.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,Food security,ACF,NaN,FS & Livelihood,Unconditional cash transfers,DFID,cash,Unconditional,Unrestricted,NaN,...,NaN,NaN,11900,1983.333333,NaN,NaN,NaN,NaN,NaN,NaN
3,Food security,ACF,NaN,FS & Livelihood,Unconditional cash transfers,SHF,cash,Unconditional,Unrestricted,NaN,...,NaN,NaN,5220,870.000000,NaN,NaN,NaN,NaN,NaN,NaN
4,Food security,ACF,NaN,FS & Livelihood,Unconditional cash transfers,DFID,cash,Unconditional,Unrestricted,NaN,...,NaN,NaN,17500,2916.666667,NaN,NaN,NaN,NaN,NaN,NaN

#### Handling missing data (NaN, null, none)

In [39]:
df['Delivery mechanism'].fillna('Unspecified', inplace=True)
df['Status (Completed, Ongoing, planned)'].fillna('Unspecified',inplace=True)
df['Restriction'].fillna('Unspecified', inplace=True)
df['Conditionality'].fillna('Unspecified', inplace=True)

In [40]:
somaliaRawCashData = df[['Cluster','Organization','Conditionality','Restriction','Delivery mechanism','Status (Completed, Ongoing, planned)','April Individuals','Region','District']]

In [80]:
somaliaRawCashData.head()

,Cluster,Organization,Conditionality,Restriction,Delivery mechanism,"Status (Completed, Ongoing, planned)",April Individuals,Region,District
0,Protection,QATAR CHARITY,Unconditional,Unrestricted,e-payment,ongoing,420,Awdal,Borama
1,Food security,DRC,Cash for Work,Unrestricted,Unspecified,ongoing,2100,Awdal,Lughaye
2,Food security,ACF,Unconditional,Unrestricted,Unspecified,ongoing,11900,Bakool,Ceelbarde
3,Food security,ACF,Unconditional,Unrestricted,Unspecified,ongoing,5220,Bakool,Xudur
4,Food security,ACF,Unconditional,Unrestricted,Unspecified,ongoing,17500,Bakool,Xudur

In [42]:
#### Copying for final comparison

In [43]:
somaliaRawCashData.to_csv('data/copy-somaliaRawCashData.csv')

### Loading pcodes from OCHA file

In [102]:
somaliaPcodes = pd.read_csv('data/somalia-adm1-adm2-codes.csv', usecols=['REG_NAME', 'REG_CODE','DIST_NAME','DIS_CODE'])

In [103]:
somaliaPcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 4 columns):
REG_NAME     74 non-null object
REG_CODE     74 non-null int64
DIST_NAME    74 non-null object
DIS_CODE     74 non-null int64
dtypes: int64(2), object(2)
memory usage: 2.4+ KB

In [140]:
def pivotTableRegionDistrict(fichier, regColName, DistColName):
    reg=[]
    districts=[]
    for region in fichier[regColName].unique():
        reg.append(region)
        d = fichier[fichier[regColName]==region][DistColName].unique()
        for dt in d:
            districts.append(dt)
    df = pd.DataFrame({'regions': reg,
                   'districts': districts})
    return df

#### Fixing mispelled names

In [141]:
f = pivotTableRegionDistrict(somaliaRawCashData, 'Region','District')

ValueError: arrays must all be same length

In [121]:
f.iloc[11]

districts    [Afgoye, Barawe, Qoryoley, Kurtunwarey, Marka,...
regions                                         Lower Shabelle
Name: 11, dtype: object

In [137]:
v=somaliaRawCashData[somaliaRawCashData['Region']=='Lower Shabelle']['District'].unique()

In [142]:
pivotTableRegionDistrict(somaliaPcodes, 'REG_NAME','DIST_NAME')

ValueError: arrays must all be same length

### Merging files

In [ ]:
df1 = pd.merge()

#### The end